VITE_SUPABASE_URL=https://chqclcqvdjptfpwishha.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNocWNsY3F2ZGpwdGZwd2lzaGhhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5NTkzODQsImV4cCI6MjEwNTUzNTM4NH0.wqRzASAfBLU8E-1VbjXOrcSTNvr3lh89kp19mlM1dUQ
